.DS_Store
CCD Characterization/CCD Characterization 11-4-25/B Flats/10s_1.fit
CCD Characterization/CCD Characterization 11-4-25/B Flats/10s_2.fit
CCD Characterization/CCD Characterization 11-4-25/B Flats/15s_1.fit
CCD Characterization/CCD Characterization 11-4-25/B Flats/15s_2.fit
CCD Characterization/CCD Characterization 11-4-25/B Flats/1s_1.fit
CCD Characterization/CCD Characterization 11-4-25/B Flats/1s_2.fit
CCD Characterization/CCD Characterization 11-4-25/B Flats/2s_1.fit
CCD Characterization/CCD Characterization 11-4-25/B Flats/2s_2.fit
CCD Characterization/CCD Characterization 11-4-25/B Flats/5s_1.fit
CCD Characterization/CCD Characterization 11-4-25/B Flats/5s_2.fit
CCD Characterization/CCD Characterization 11-4-25/B Flats/Master_flat.fit
CCD Characterization/CCD Characterization 11-4-25/Biases/11-4-25_Biases_S1.FIT
CCD Characterization/CCD Characterization 11-4-25/Biases/11-4-25_Biases_S10.FIT
CCD Characterization/CCD Characterization 11-4-25/Biases/11-4-25_Biases_S2.FIT
CCD Characterization/CCD Characterization 11-4-25/Biases/11-4-25_Biases_S3.FIT
CCD Characterization/CCD Characterization 11-4-25/Biases/11-4-25_Biases_S4.FIT
CCD Characterization/CCD Characterization 11-4-25/Biases/11-4-25_Biases_S5.FIT
CCD Characterization/CCD Characterization 11-4-25/Biases/11-4-25_Biases_S6.FIT
CCD Characterization/CCD Characterization 11-4-25/Biases/11-4-25_Biases_S7.FIT
CCD Characterization/CCD Characterization 11-4-25/Biases/11-4-25_Biases_S8.FIT
CCD Characterization/CCD Characterization 11-4-25/Biases/11-4-25_Biases_S9.FIT
CCD Characterization/CCD Characterization 11-4-25/Biases/11-4-25_Master_Biases.FIT
CCD Characterization/CCD Characterization 11-4-25/Biases/Reduced/averaged_bias.fit
CCD Characterization/CCD Characterization 11-4-25/HD202583/calib/HD202583-B-100s.fits
CCD Characterization/CCD Characterization 11-4-25/HD202583/calib/HD202583-B-120s.fits
CCD Characterization/CCD Characterization 11-4-25/HD202583/calib/HD202583-B-140s.fits
CCD Characterization/CCD Characterization 11-4-25/HD202583/calib/HD202583-B-160s.fits
CCD Characterization/CCD Characterization 11-4-25/HD202583/calib/HD202583-B-180s.fits
CCD Characterization/CCD Characterization 11-4-25/HD202583/calib/HD202583-B-1s.fits
CCD Characterization/CCD Characterization 11-4-25/HD202583/calib/HD202583-B-20s.fits
CCD Characterization/CCD Characterization 11-4-25/HD202583/calib/HD202583-B-40s.fits
CCD Characterization/CCD Characterization 11-4-25/HD202583/calib/HD202583-B-60s.fits
CCD Characterization/CCD Characterization 11-4-25/HD202583/calib/HD202583-B-80s.fits
CCD Characterization/CCD Characterization 11-4-25/HD202583/HD202583-B-100s.fit
CCD Characterization/CCD Characterization 11-4-25/HD202583/HD202583-B-120s.fit
CCD Characterization/CCD Characterization 11-4-25/HD202583/HD202583-B-140s.fit
CCD Characterization/CCD Characterization 11-4-25/HD202583/HD202583-B-160s.fit
CCD Characterization/CCD Characterization 11-4-25/HD202583/HD202583-B-180s.fit
CCD Characterization/CCD Characterization 11-4-25/HD202583/HD202583-B-1s.fit
CCD Characterization/CCD Characterization 11-4-25/HD202583/HD202583-B-20s.fit
CCD Characterization/CCD Characterization 11-4-25/HD202583/HD202583-B-40s.fit
CCD Characterization/CCD Characterization 11-4-25/HD202583/HD202583-B-60s.fit
CCD Characterization/CCD Characterization 11-4-25/HD202583/HD202583-B-80s.fit
CCD Characterization/CCD Characterization 11-4-25/HD202583/Table.tbl
CCD Characterization/CCD Characterization 11-4-25/Table.tbl
